<img class="img-fluid" src="../../../../../assets/images/partners.svg" alt="">
<div class="partners">
  <div class="container">
    <div class="title">
      <h2>Our Partners</h2>
    </div>

    <div class="motto">
      <p>Together, we form a necessary paradox; not a senseless contradiction.</p>
    </div>

    <div class="images row no-gutters">
      <div class="image col">
        <img
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          class="ml-2"
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          class="ml-3"
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          class="ml-5 ml-sm-3"
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          class="ml-5 ml-sm-3"
          src=""
          alt="">
      </div>
    </div>
  </div>
</div>
