<img src="../../../../../assets/images/testimo.svg" alt="">
<div class="testimonials">
  <div class="container">
    <div class="title">
      <h2>Testimonials</h2>
    </div>

    <div class="images row no-gutters">
      <div class="image col">
        <img
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          class="border"
          src=""
          alt="">
      </div>

      <div class="image col">
        <img
          src=""
          alt="">
      </div>
    </div>

    <div class="motto">
      <h6>"The task of leadership is not to put greatness into people, but to elicit it, for the greatness is there already."</h6>
    </div>

    <div class="rector">
        <p>Mihai Nicula</p>
    </div>
  </div>
</div>
