<div class="heading-section">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 image">
        <img
          src="../../../../../assets/images/header-section.svg"
          alt="">
      </div>

      <div class="col-xl-6 col-lg-6 col-md-6 col-12 about">
        <h2>FabLab -  first engineering and creational center</h2>
        <p>Fablabs are primarily intended for the piece-wise, for personal use, manufacturing of products that can be manufactured using existing technologies, but which are not mass-produced. Attempts are also made to attempt copying or one-time manufacturing of parts for experimental or scientific tasks. </p>
        <div class="row no-gutters">
          <button class="btn-normal buttons" routerLink="../events">See events</button>
          <button class="btn-border buttons" routerLink="../booking">Book a space</button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>
