$color: #0073b1;
$section: #f8f8f8;
$black: #000000;
$services: #30a0a0;
$gray: #979797;
$white: #FFFFFF;
$blue: #35469d;
$red: #cb2026;
$green: #0e9a48;
$book1: #716878;
$book2: #D4D332;
$book3: #C05D87;
$book4: #BBBE32;
$book5: #9ECAF0;
$book6: #FDDA7D;
$card-color: #FFFFFF;

