@import "src/styles";

.booking {
  padding-top: 100px;
  width: 100%;
  background-color: $section;
  @include media-breakpoint-down(sm) {
    padding-top: 70px;
  }

  .title {
    text-align: center;
    padding: 60px 0;
    width: 100%;

    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }

    h2 {
      color: $black;
      text-transform: uppercase;
      font-weight: bold;

      @include media-breakpoint-down(lg) {
        font-size: 32px;
      }
    }
  }

  .image {
    max-height: 800px;

    @include media-breakpoint-down(md) {
      max-height: 700px;
    }
    @include media-breakpoint-down(sm) {
      max-height: 550px;
    }

    button {
      width: 60px;
      height: 60px;
      border: none;
      outline: none;
      border-radius: 50%;
      position: relative;
      color: $white;
      font-size: 30px;
      text-align: center;
      line-height: 55px;
      cursor: pointer;

      &.book1 {
        background-color: $book1;
        top: -595px;
        left: 145px;

        &.disabled {
          opacity: 0.7;
          cursor: not-allowed;
        }

        @include media-breakpoint-down(lg) {
          top: -580px;
          left: 85px;
        }
        @include media-breakpoint-down(md) {
          top: -530px;
          left: 60px;
        }
        @include media-breakpoint-down(sm) {
          top: -400px;
          left: 35px;
        }
      }

      &.book2 {
        background-color: $book2;
        top: -720px;
        right: 240px;
        float: right;

        &.disabled {
          opacity: 0.7;
          cursor: not-allowed;

        }

        @include media-breakpoint-down(lg) {
          top: -700px;
          right: 175px;
        }
        @include media-breakpoint-down(md) {
          top: -620px;
          right: 115px;
        }
        @include media-breakpoint-down(sm) {
          top: -450px;
          right: 90px;
        }
      }

      &.book3 {
        background-color: $book3;
        top: -610px;
        left: 535px;

        &.disabled {
          opacity: 0.7;
          cursor: not-allowed;

        }

        @include media-breakpoint-down(lg) {
          top: -600px;
          left: 440px;

        }
        @include media-breakpoint-down(md) {
          top: -550px;
          left: 305px;
        }
        @include media-breakpoint-down(sm) {
          top: -400px;
          left: 200px;
        }
      }

      &.book4 {
        background-color: $book4;
        top: -490px;
        right: 0;
        float: right;

        &.disabled {
          opacity: 0.7;
          cursor: not-allowed;

        }

        @include media-breakpoint-down(lg) {
          top: -479px;
          right: -55px;
        }
        @include media-breakpoint-down(md) {
          top: -460px;
          right: -60px;

        }
        @include media-breakpoint-down(sm) {
          top: -345px;
          right: -55px;
        }
      }

      &.book5 {
        background-color: $book5;
        top: -170px;
        right: 100px;
        float: right;

        &.disabled {
          opacity: 0.7;
          cursor: not-allowed;

        }

        @include media-breakpoint-down(lg) {
          top: -190px;
          right: 40px;
        }
        @include media-breakpoint-down(md) {
          top: -235px;
          right: 0;
        }
        @include media-breakpoint-down(sm) {
          top: -165px;
          right: -50px;
        }
      }

      &.book6 {
        background-color: $book6;
        top: -45px;
        left: 105px;

        &.disabled{
          opacity: 0.7;
          cursor: not-allowed;
        }

        @include media-breakpoint-down(lg) {
          top: -65px;
          left: 30px;

        }
        @include media-breakpoint-down(md) {
          top: -155px;
          left: -10px;
        }
        @include media-breakpoint-down(sm) {
          top: -120px;
          left: -50px;
        }
      }
    }

    img {
      width: 100%;
      height: 700px;

      @include media-breakpoint-down(sm) {
        height: 500px;
      }
    }
  }

  .space {
    width: 100%;
    height: 500px;
    background: rgba(113, 104, 120, 0.11);

    @include media-breakpoint-down(md) {
      height: 100%;
      min-height: 700px;
    }

    &:nth-child(even) {
      img {
        margin: 50px 50px 50px 0;
        width: 500px;
        height: 400px;

        @include media-breakpoint-down(lg) {
          width: 450px;
          height: 350px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        @include media-breakpoint-down(sm) {
          margin: 25px 50px 50px 0;
        }
        @include media-breakpoint-down(xs) {
          margin: 25px 10px 50px 0;
          height: 300px;
        }
      }

      .description {
        margin-top: 50px;
        max-width: 550px;
        float: right;
        text-align: justify;

        @include media-breakpoint-down(lg) {
          max-width: 425px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          max-width: 100%;
          margin-top: 0;
        }

        h4 {
          text-align: center;
          font-weight: bold;
          margin-bottom: 20px;
        }

        p {
          height: 290px;
          @include media-breakpoint-down(md) {
            height: 100%;
          }
        }

        span {
          padding-right: 20px;
        }
      }
    }

    &:nth-child(odd) {
      background: transparent;

      img {
        margin: 0 0 50px 50px;
        width: 500px;
        float: right;
        height: 400px;

        @include media-breakpoint-down(lg) {
          width: 450px;
          height: 350px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-top: 50px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 25px;
        }
        @include media-breakpoint-down(xs) {
          height: 300px;
        }
      }

      .description {
        margin-top: 50px;
        max-width: 550px;
        text-align: justify;

        @include media-breakpoint-down(lg) {
          max-width: 425px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          max-width: 100%;
          margin-top: 0;
        }

        h4 {
          text-align: center;
          font-weight: bold;
          margin-bottom: 20px;
        }

        p {
          height: 290px;
          @include media-breakpoint-down(md) {
            height: 100%;
          }
        }

        span {
          padding-right: 20px;
        }
      }

      button {
        float: left;
      }
    }
  }

  .images {
    img {
      width: 400px;
      height: 400px;

      @include media-breakpoint-down(lg) {
        width: 250px;
        height: 250px;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .not-found{
    width: 100%;
    height: 400px;
    text-align: center;

    h1{
      line-height: 400px;
    }
  }
}
